<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/page3.css")
    body
    .app
        .app__col1
                a(href="http://localhost:3000/page1").rp page1
                a(href="http://localhost:3000/page2").cp page2
                a(href="http://localhost:3000/page3").lp page3
        .app__col2
            .apple
            .samsung
                .hp
                .penton
            .lg