.app {
  width: 100%;
  height: 100vh;
}
.app .app__col1 {
  width: 100%;
  height: 5%;

  display: flex;
  flex-direction: row;
  border-bottom: #7f8c8d solid 2px;
}
.app .app__col1 .rp {
  margin-right: 550px;
}
.app .app__col1 .cp {
  margin-right: 500px;
}
